{% extends 'base.html' %}


{% block content %}
<br>
<h3 style="text-align: center; margin-bottom: 30px;">Перейти к оформлению заказа</h3>
<div style="display: flex; justify-content: center;">
<div class="offset-md-2" style="background-color: white; padding: 50px; margin-left: 0;">
    <h5>Зарегистрированный покупатель</h5><br>
    <form action="{{ url_for('login', next='cart/order_submit') }}" method="POST">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="inputEmail">
        {% for category, message in get_flashed_messages(with_categories=True) %}
            {% if category == 'email_errors' %}
                <span style="color: brown;">{{ message }}</span>
            {% endif %}
        {% endfor %}
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="inputPassword">
        {% for category, message in get_flashed_messages(with_categories=True) %}
            {% if category == 'password_errors' %}
                <span style="color: brown;">{{ message }}</span>
            {% endif %}
        {% endfor %}
        </div>
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="rememberMe">
        <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
        </div>
        <button type="submit" class="btn btn-dark">Перейти к оформлению заказа</button>
    </form>
</div>
<div class="offset-md-2 checkout-newuser" style="background-color: white; padding: 50px; margin-left: 5%; height: 200px;">
    <h5>Новый покупатель</h5><br>
    <a href="{{ url_for('cart.order_submit') }}"><button type="button" class="btn btn-dark" style="background-color: white; color: black;">Перейти к оформлению заказа</button>
</div>
</div>
{% endblock %}

