{% extends 'base.html' %}

{% block styles %}
<link href="/cart/static/cart/css/style.css" rel="stylesheet">
{% endblock%}

{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить купон</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="discountInputContainer" style="display: flex;">
                    <input type="text" class="form-control" id="inputCode" name="inputCode" style="margin-right: 10px;">
                    <button type="button" class="btn btn-dark" id="addCode">Добавить</button>
                </div>
                <span class="codeErrorCaption"></span>
            </div>
        </div>
    </div>
</div>


<h3 style="text-align: center; margin-bottom: 30px;">Оформление заказа</h3>
    <div class="row">
        {% if current_user.is_authenticated %}
        <div class="col-md-6 offset-md-1">
            <div class="col-md-12 mb-3" style="background-color: white; padding: 30px;">
                <p style="color: rgb(114, 114, 114); margin-bottom: 30px;">Покупатель</p>
                <p><span>Имя</span>: {{ user_info.user_name }}</p>
                <p><span>Email</span>: {{ user_info.user_email }}</p>
            </div>
            <div class="col-md-12 mb-3" style="background-color: white; padding: 30px;">
                <p style="color: rgb(114, 114, 114); margin-bottom: 30px;">Доставка</p>
                <div class="mb-3">
                    <label for="inputAddress" class="form-label">Адрес доставки</label>
                    <input type="text" class="form-control" id="inputAddress" name="inputAddress">
                </div>
            </div>
            <div class="col-md-12 mb-3" style="background-color: white; padding: 30px;">
                <p style="color: rgb(114, 114, 114); margin-bottom: 30px;">Оплата</p>
                {% for method in payment_methods %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="paymentChoice{{ method.id }}"
                    name="paymentMethod" value="{{ method.id }}">
                    <label class="form-check-label" for="paymentChoice{{ method.id }}">{{method.payment_method_caption}}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="col-md-6 offset-md-1">
            {% for category, message in get_flashed_messages(True) %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            
            <div class="col-md-12" style="background-color: white; padding: 30px;">
            <form action="{{ url_for('register', next='cart/order_submit') }}" method="POST">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Имя</label>
                    <input type="text" class="form-control" id="InputName" name="InputName">
                </div>
                <div class="mb-3" >
                    <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
                    <input type="email" class="form-control" id="InputEmail1" name="InputEmail">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="InputPassword1" name="InputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Повтор пароля</label>
                    <input type="password" class="form-control" id="InputPassword2" name="InputPassword2">
                </div>
                <button type="submit" class="btn btn-dark">Сохранить</button>
            </form>
            </div>
            </div>
        {% endif %}
        <div class="col-md-4">
            <div class="col-md-12" style="background-color: white; min-height: 300px; padding: 30px;">
                <div style="margin-bottom: 20px;"><span style="color:rgb(114, 114, 114)">Скидки</span><span class="order-discount" data-bs-toggle="modal" data-bs-target="#exampleModal">ВЫБРАТЬ СКИДКУ</span></div>
                <hr>
                <div class="orderSumContainer" style="margin-top: 20px; margin-bottom: 10px;"><span style="color:rgb(114, 114, 114)">Стоимость заказа</span><span class="orderSum" style="float: right;"></span></div>
                <div style="margin-bottom: 20px;"><span style="color:rgb(114, 114, 114)">Стоимость доставки</span><span class="orderDelivery" style="float: right;"></span></div>
                <hr>
                <div style="margin-top: 20px; margin-bottom: 40px; font-weight: bold;"><span>Итого к оплате:</span><span class="orderTotal" style="float: right;"></span></div>
                <button type="button" disabled class="btn btn-dark OrderSubmitButton" id="orderSubmit">Заказать</button>
            </div>
        </div>
    </div>
    <script src="/cart/static/cart/js/order.js"></script>
{% endblock %}