<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>flask app</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <style>
            body {
              background-color: #faf9f8;
            }
            .clothesFor {
                padding: 20px;
                padding-top: 10px; 
                text-decoration: none;
                color: black;
                font-size: 18px;
            }

            .clothesFor:hover {
                background-color: #cbffeb;
                text-decoration: underline;
                color: black;
            }
        </style>
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #cbffeb;">
          <!-- #cbffeb-->
            <div class="container-fluid">
              <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="/static/images/main/k_logo.png" alt="" width="24" height="24">oftan
              </a>
              <!--<a class="navbar-brand" href="#"></a>-->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <!--<li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                  </li> -->
                </ul>
                {% if current_user.is_anonymous %}
                <a class="navbar-brand" href="{{ url_for('login') }}">
                  <div style="font-size: 16px;">
                    <img src="/static/images/main/login_img.png" alt="" width="24" height="24">
                    <span style="font-size: 16px;">Войти</span>
                  </div>
                </a>
                {% else %}
                <a class="navbar-brand" href="{{ url_for('profile') }}">
                  <div style="font-size: 16px;">
                  <img src="/static/images/main/login_img.png" alt="" width="24" height="24">
                  <span style="font-size: 16px;">Профиль</span>
                </div>
              </a>
                {% endif %}
                <a class="navbar-brand" href="{{ url_for('cart.show_cart') }}">
                  <div style="font-size: 16px;">
                    <img src="/static/images/main/shopping-bag.png" alt="" width="24" height="24">
                    <span>Корзина</span>(<span class="cart">0</span>)
                  </div>
                </a>
                <!--<form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>-->
              </div>
            </div>
          </nav>
          <div class="container">
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('clothes.show_categories', itemsfor='men') }}" class="clothesFor">Мужчины</a>
                <a href="{{ url_for('clothes.show_categories', itemsfor='women') }}" class="clothesFor">Женщины</a>
                <a href="{{ url_for('clothes.show_categories', itemsfor='kids') }}" class="clothesFor">Дети</a>
            </div>
          </div>
          <br>
        <div class="container">
          {% block content %}
          {% endblock %}
        </div>
        <script>
          function onLoadCartNumber() {
            let productNumbers = localStorage.getItem('cartNumbers');
            if (productNumbers) {
                document.querySelector('.cart').textContent = productNumbers;
            }
          }
          onLoadCartNumber();
        </script>
    </body>
</html>